.three p{
    background-color: #eee;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    border-left: 5px solid #e91e63;
  }
  .three p::before{
    content: attr(data-person);
    background-color: #eee;
    text-align: center;
    margin: 20px;
    position: absolute;
    float: left;
    margin-left: -150px;
    margin-top: -20px;
    padding: 20px;
    width: 50px;
  }
  .three p::after{
    content: "";
    position: absolute;
    float: left;
    left: -44px;
    top: 7px;
    border: 22px solid;
    border-color: transparent #e91e63 transparent transparent;
  }